/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and container styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#backgroundGif {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Помещает GIF под остальными элементами */
    transform: translate(-50%, -50%);
    object-fit: cover; /* Обеспечивает обрезку по размеру экрана */
}


.container {
    text-align: center;
    background-color: rgba(66, 88, 65, 0.588); /* Полупрозрачный белый фон */
    backdrop-filter: blur(5px); /* Эффект размытия фона */
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    max-width: 700px !important;
    width: 100%;
    position: relative; /* Для наложения других элементов */
    z-index: 1; /* Обеспечивает, чтобы контейнер был выше GIF */
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #94ab99;
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #a9bc86;
}

/* Form styles */
.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*poisk po id*/
.id-check {
    font-family: 'Arial', sans-serif;
    margin: 2rem 0; /* Увеличиваем отступы сверху и снизу */
    color: #94ab99;
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.input-container {
    display: flex; /* Включаем flexbox */
    align-items: stretch; /* Растягиваем элементы по высоте */
    gap: 0.2rem; /* Отступ между элементами */
}

#videoIdInput {
    flex: 1;
    height: 48px; /* Задаем высоту, если нужно */
    width: 100%; /* Занимает всю ширину родительского контейнера */
    background-color: #333; /* Темный фон */
    color: #fff; /* Светлый текст */
    max-width: 400px; /* Ограничение максимальной ширины */
    padding: 0.75rem; /* Внутренние отступы для удобства ввода */
    border: 3px solid #7c604d;; /* Цвет рамки */
    border-radius: 10px; /* Закругление углов */
    font-size: 1rem; /* Размер шрифта */
    transition: border-color 0.2s; /* Плавный переход цвета рамки */
}

#videoIdInput:focus {
    border-color: #48372c; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный обвод */
}

.check_id_button {
    background-color: #7c604d;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    height: 100%; /* Растягиваем кнопку на всю высоту контейнера */
}

.check_id_button:hover {
    background-color: #48372c;
}

.file-label {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.file-label input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-label .file-custom {
    background-color: #30585a;
    color: #fff;
    padding: 0.75rem 0.75rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex; /* Используем flexbox */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
}

.file-label:hover .file-custom {
    background-color: #1b3234;
}

.file-upload-space {
    border-radius: 20%;
}

.upload-button {
    background-color: #7c604d;
    color: #fff;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.8s ease;
    display: flex; /* Используем flexbox */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
}

.upload-button:hover {
    background-color: #48372c;
}

/* Result message */
.result-message {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #333;
}

.result-message a {
    color: #92567b;
    text-decoration: none;
}

.result-message a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #999;
}

/* Add this to existing style.css */

/* CSV Table Styles */
.csv-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1rem;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.csv-table th, .csv-table td {
    padding: 12px 15px;
    text-align: left;
}

.csv-table th {
    background-color: #92567b;
    color: #ffffff;
    text-transform: uppercase;
}

.csv-table tr {
    border-bottom: 1px solid #dddddd;
}

.csv-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.csv-table tr:last-of-type {
    border-bottom: 2px solid #92567b;
}

